@charset "utf-8";

/* COMMON */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FBFBF6;
  box-sizing: border-box;
  text-align: center;
}

img {
  margin: 0;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 24px;
}

nav {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 40%;
  margin: 0 auto;
}

nav ul {
  display: block;
  font-size: 1rem;
  text-align: center;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: square;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

/* HEADER */
header {
  width: 100%;
  margin: 0 auto;
  padding: 1% 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: pink; */
}

.header-text {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 8%;
}

/* MAIN */
main {
  width: 100%;
  margin: 0 auto;
  height: 30rem;
  background-image: url(../img/soup-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #FBFBF6;
  font-size: 2.5rem;
}

/* MAIN-NAV */
.main-nav {
  border-bottom: 1px dashed #35432c;
  margin-top: 4%;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 8%;
}

/* CONCEPT */
.concept {
  width: 60%;
  margin: 0 auto;
}

.concept-container {
  background: #35432c;
  color: #fff;
  margin-top: 2%;
  padding: 8%;
}

h4 {
  text-wrap: nowrap;
  text-align: center;
  padding-bottom: 4%;
  font-size: 1.3rem;
}

.concept-container p {
  line-height: 1.8;
}

/* MENU */
.menu {
  width: 60%;
  margin: 0 auto;
}

.menu-container {
  margin-top: 2%;
  border: 1px solid #35432c;
}

.menu-title {
  background: #35432c;
  color: #fff;
  padding: 2%;
  text-align: start;
  width: 20%;
}

.soup-title-text {
  font-size: 1.3rem;
}

/* MENU ITEM */
.soup-item {
  padding: 4%;
  border-bottom: 1px dashed #35432c;
  text-align: center;
}

.limited-item {
  display: grid;
  grid-template-columns: 10% 1fr 1fr;
  align-items: center;
  padding: 8%;

}

.pumpkin-soup {
  max-width: 80%;
}

.limited-icon {
  z-index: 10;
  margin-top: -200px;
  max-width: 100%;
}

.soup-item-title {
  font-size: 1.3rem;
}

.soup-item-text {
  margin-top: 4%;
}

.price {
  margin-top: 4%;
  font-size: 1.2rem;
}

/* BASIC MENU */
.soup-basic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.soup-item-1,
.soup-item-2 {
  border-right: 1px dashed #35432c;
}

.soup-item-1,
.soup-item-2,
.soup-item-3 {
  padding: 8%;
}

.soup-pic {
  max-width: 100%;
}

/* SIDE */
.soup-side {
  font-size: 1rem;
}

.soup-side ul {
  display: flex;
  justify-content: center;
  gap: 8%;
}

/* DRINK */
.drink {
  width: 50%;
  margin-top: 2%;
  border: 1px solid #35432c;
}

.drink-title {
  width: 25%;
  text-align: center;
}

.drink-title p {
  font-size: 1.2rem;
}

.drink-item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
}

/* ACCESS */
.access {
  width: 60%;
  margin: 0 auto;
}

.access-container {
  margin-top: 2%;
  border: 1px solid #35432c;
  padding: 4%;
}

iframe {
  margin-top: 4%;
  max-width: 100%;
}

.access-address {
  margin-top: 4%;
}

/* CONTACT */
.contact {
  width: 60%;
  margin: 0 auto;
}

.contact-container {
  margin-top: 2%;
  border: 1px solid #35432c;
  padding: 4%;
}

.form {
  text-align: center;
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 8%;
}

label {
  padding: 2%;
}

textarea {
  height: 100px;
}

button {
  background: #35432c;
  border: none;
  color: #FBFBF6;
  margin-top: 8%;
  padding: 2%;
}

/* FOOTER */
footer {
  width: 100%;
  margin: 4% auto 0;
  padding-top: 2%;
  background: #35432c;
}

.footer-nav li {
  color: #FBFBF6;
}

.footer-text {
  color: #FBFBF6;
  padding: 2% 0 2% 0;
}

.copyright {
  color: #FBFBF6;
  font-size: 0.8rem;
}

@media (max-width:768px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    margin: 0;
    background: #FBFBF6;
    box-sizing: border-box;
    text-align: center;
  }

  /* HEADER */
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background: blue; */
  }

  .header-logo {
    max-width: 50%;
  }

  .header-text {
    /* background: pink; */
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .sns-icon {
    display: flex;
    gap: 8%;
    margin-top: 4%;
  }

  /* MAIN */
  h2 {
    max-width: 100%;
  }

  main {
    max-width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0;
  }

  .main-nav ul {
    display: block;
  }

  /* CONCEPT */

  .concept {
    width: 80%;
    text-align: center;
  }

  h4 {
    max-width: 100%;
    /* background: pink; */
    font-size: 0.9rem;
  }

  .concept p {
    font-size: 0.8rem;
  }

  /* MENU */
  .menu {
    width: 80%;
  }

  .menu-title {
    position: static;
    width: 80%;
  }

  .limited-item {
    display: block;
  }

  .soup-basic {
    display: block;
  }

  /* SIDE */
  .soup-side ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.8rem;
  }

  /* DRINk */
  .drink {
    width: 100%;
  }
.drink-item {
  padding: 0;
  text-align: start;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* ACCESS */
.access {
  width: 80%;
}
  iframe {
    max-width: 100%;
  }
/* CONTACT */
.contact {
  width: 80%;
}
.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
label {
  margin: 0;
}

  footer {
    max-width: 100%;
  }
  footer .sns-icon {
    display: flex;
    justify-content:center ;
    gap: 4%;
  }
}