@charset "utf-8";

/* COMMON */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FBFBF6;
  box-sizing: border-box;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1rem;
  text-align: center;
  margin-top: 24px;
}

nav {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 20%;
  margin: 0 auto;
}

nav ul {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
  font-size: 0.5rem;
  line-height: 1.5;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style-type: square;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* text-align: start; */
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

/* HEADER */
header {
  width: 32%;
  margin: 0 auto;
  text-align: center;
}
.header-text {
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.header-logo {
  width: 80%;
}

/* MAIN */
main {
  width: 32%;
  height: 160px;
  margin: 0 auto;
  background-image: url(../img/soup-hero.jpg);
}
h2 {
  color: #FBFBF6;
  text-align: center;
}

/* MAIN-NAV */
.main-nav {
  border-bottom: 1px dashed #35432c;
}

/* CONCEPT */
.concept {
  width: 32%;
  margin: 0 auto;
}
.concept-container {
  background: #35432c;
  color: #FBFBF6;
  margin-top: 2%;
  padding: 8%;
  /* text-align: start; */
}
h4 {
  text-wrap: nowrap;
  text-align: center;
  padding-bottom: 8%;
  font-size: 16%;
}

/* MENU */
.menu {
  width: 32%;
  margin: 0 auto;
}
.menu-container {
  margin-top: 2%;
  border: 1px solid #35432c;
  position: relative;
}
.menu-title {
  background: #35432c;
  color: #FBFBF6;
  padding: 2%;
  text-align: start;
  display: inline-block;

}
.soup-title {
  position: absolute;
  top: 0;
  left: 0;
}

/* MENU ITEM */
.soup-item {
  padding: 16%;
  border-bottom: 1px dashed #35432c;
}
.limited-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20%;
}
.soup-item-title {
  margin-top: 4%;
  font-size: 0.7rem;
}
.soup-item-text {
  margin-top: 2%;
}
.price {
  margin-top: 4%;
  font-size: 0.7rem;
}

/* SIDE */
.soup-side {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DRINK */
.drink {
  margin-top: 2%;
  border: 1px solid #35432c;
  position: relative;
}
.drink-title {
  position: absolute;
  top: 0;
  left: 0;
}
.drink-item {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ACCESS */
.access {
  width: 32%;
  margin: 0 auto;
}

.access-container {
  margin-top: 2%;
  border: 1px solid #35432c;
  padding: 4%;
}
iframe {
  margin-top: 4%;
}
.access-address {
  margin-top: 4%;
}

/* CONTACT */
.contact {
  width: 32%;
  margin: 0 auto;
}
.contact-container {
  margin-top: 2%;
  border: 1px solid #35432c;
  padding: 4%;
}
button {
  background: #35432c;
  border: none;
  color: #FBFBF6;
}

/* FOOTER */
footer {
  width: 32%;
  margin: 0 auto;
  padding: 2%;
  background: #35432c;
  
}
.footer-nav li {
  color: #FBFBF6;
}
.footer-text {
  color: #FBFBF6;
}
.copyright {
  color: #FBFBF6;
  font-size: 0.3rem;
}